---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./projects/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<Layout title="Projects">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Projects</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          posts.map((post) => (
            <li>
              <a href={post.url}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <div>
                    <img
                      src={post.frontmatter.image}
                      alt="Thumbnail"
                      width={600}
                      loading="eager"
                      class="w-full rounded-md"
                    />
                    <div class="flex m-6 items-center justify-center  flex-wrap">
                      {post.frontmatter.icons.map((icon) => (
                        <Icon class="h-8 md:h-8" name={icon} />
                      ))}
                    </div>
                  </div>
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {post.frontmatter.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {post.frontmatter.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {post.frontmatter.excerpt}
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
